body{
    background-color: bisque;
    font-family: Arial, sans-serif;
}
.content {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h2 {
    color: #333;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul b {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #555;
}
ul i {
    display: block;
    margin-top: 10px;
    font-size: 1em;
    color: #777;
}